:root {
    margin: 0;
    padding: 1em;
    min-height: 100vh;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins' ;
    src: url(Poppins/Poppins-Regular.ttf);
}

article {
    justify-self: center;
    background-color: #739EC9;
    font-family: 'poppins', sans-serif;
    padding: 1em 0em 1em 0em;
    border-radius: 2em;
    width: 280px;
    height: fit-content;

    @media (width > 650px) {
        width: 500px;
        height: fit-content;
        transition: .5s;
    }

}

article:hover {
    background: linear-gradient(10deg, violet, lightblue, lightgreen);
}


.name {
    display: grid;
    place-items: center;
    padding: 1em;

        @media (width > 650px) {
            padding-top: 2em;
        }
}

img {
    border-radius: 50%;
    display: grid;
    place-items: center;

    @media (width > 650px) {
        width: 150px;
        height: 150px;
        transition: .5s;
    }
}

.line {
    border-bottom: white dotted 4px;
}

.info {
    justify-self: center;
    padding: 1em;
            @media (width > 650px) {
            padding-top: 1.5em;
        }
}

.links {
    display: flex;
    justify-self: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin: .5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo:hover {
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

