:root {
    margin: 0;
    padding: 1em;
    min-height: 100vh;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins' ;
    src: url(Poppins/Poppins-Regular.ttf);
}

article {
    justify-self: center;
    background-color: #739EC9;
    font-family: 'poppins', sans-serif;
    padding: 1em 0em 1em 0em;
    border-radius: 2em;
    width: 280px;
    height: 500px;

    @media (width > 650px) {
        width: 500px;
        height: fit-content;
        transition: .5s;
    }
}

.name {
    justify-self: center;
    padding: 1em;

        @media (width > 650px) {
            padding-top: 2em;
        }
}

img {
border-radius: 50%;

    @media (width > 650px) {
        width: 150px;
        height: 150px;
        transition: .5s;
    }
}

.line {
    border-bottom: white dotted 4px;
}

.info {
    justify-self: center;
    padding: 1em;
            @media (width > 650px) {
            padding-top: 1.5em;
        }

}